@use "./colors" as *;
@use "./components" as *;
@use "./animations" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
	background-color: $dark;
	color: $white;
}

// header

.header {
	overflow: hidden;

	.nav {
		.hamburger {
			position: fixed;
			top: 1em;
			left: 1em;
			width: 60px;
			padding: 1em;
			background: none;
			border: none;
			cursor: pointer;
			z-index: 100;
	
			img {
				width: 100%;
				height: 100%;
				z-index: 20;
			}

			.hide {
				display: none;
			}
		}

		&-mobile {
			position: fixed;
			display: grid;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(9, 1fr);
			justify-items: center;
			align-items: center;
			height: 100vh;
			font-size: 2.4rem;
			background-color: #fff;
			transform: translate(-100%);
			transition: transform 0.3s;
			z-index: 10;

			&--active {
				transform: translate(0);
			}

			&__link {
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				color: $main-color;
				transition: color .3s;

				&:hover {
					color: $main-color-light;
				}

				&--one {
					grid-column: 2/3;
					grid-row: 2/3;
				}

				&--two {
					grid-column: 2/3;
					grid-row: 4/5;
				}

				&--three {
					grid-column: 2/3;
					grid-row: 6/7;
				}

				&--four {
					grid-column: 2/3;
					grid-row: 8/9;
				}
			}
		}

		&-desktop {
			display: none;
		}
	}

	.hero-img {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		padding: 0;
		align-items: center;
		height: 100vh;
		background-image: $main-gradient-transparent,
			url("../img/hero-img-small.jpg");
		background-size: cover;
		background-position: center;
		color: $white;

		&__content {
			grid-column: 2/3;
			grid-row: 2/3;
			text-align: center;
		}

		&__header {
			position: relative;
			padding-bottom: 0.3em;
			text-transform: uppercase;
			font-family: "Cinzel", serif;
			font-size: 3.2rem;
			word-spacing: 5px;
			letter-spacing: 1px;

			span {
				color: $gold;
			}
		}

		&__text {
			font-size: 1.6rem;
		}
	}
}

// main

// services

.services {
	position: relative;
	overflow: hidden;
	z-index: 0;

	&__boxes {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 2em;
		margin: 0 1.5em;
	}

	&__box {
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(200px, 1fr);
		border-radius: 8px;
		box-shadow: 0 0 10px $shadow;
		overflow: hidden;

		&-img {
			grid-row: 1/2;
			background-position: center;
			background-size: cover;

			&--one {
				background-image: $purple-gradient-transparent,
					url("../img/services-01.png");
			}

			&--two {
				background-image: $green-gradient-transparent,
					url("../img/services-02.jpg");
			}

			&--three {
				background-image: $blue-gradient-transparent,
					url("../img/services-03.jpeg");
			}
		}

		&-content {
			grid-row: 2/3;
			padding: 1em;
			background-color: $white;
		}

		&-heading {
			text-align: center;
			margin-bottom: 0.5em;
			color: $main-color-light;
		}

		&-btn {
			position: relative;
			width: 100%;
			padding: .5em 1em;
			margin-top: 0.5em;
			text-transform: uppercase;
			border: none;
			border-radius: 8px;
			background-color: $main-color-light;
			color: $white;
			transition: background-color .3s;
			overflow: hidden;
			cursor: pointer;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: -60px;
				left: -300px;
				height: 400%;
				width: 200px;
				background-image: linear-gradient(
					-90deg,
					rgba(255, 255, 255, 0.3),
					rgba(255, 255, 255, 0)
				);
				transform: rotate(25deg);
			}
			
			&:hover {
				background-color: $main-color-lighter;
				
				&::before {
					left: 130%;
					transition: all 0.5s;
				}
			}
		}

		&--one {
			grid-row: 1/2;
		}

		&--two {
			grid-row: 2/3;
		}

		&--three {
			grid-row: 3/4;
		}
	}

	&-icon {
		position: absolute;
		opacity: 0.5;
		z-index: -100;
	}

	&__python-icon {
		width: 100px;
		transform: rotate(32deg);
		animation: python 10s linear infinite;
	}

	&__guitar-icon {
		width: 150px;
		animation: guitar 15s linear infinite;
	}

	&__square-icon {
		width: 100px;
		animation: square 60s linear infinite;
	}

	&__maximize-icon {
		width: 500px;
		top: -30%;
		right: -10%;
		transform: rotate(35deg);
		animation: maximize 120s linear infinite;
	}
}

// about us

.aboutus {
	&__team {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, 1fr);
		gap: 2em;
		margin: 0 1.5em;
	}

	&__member {
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(250px, 1fr);
		border-radius: 8px;
		box-shadow: 0 0 10px $shadow;
		background-color: $white;
		overflow: hidden;

		&-img {
			grid-row: 1/2;
			background-position: center;
			background-size: cover;

			&--one {
				background-image: $blue-gradient-transparent, url("../img/aboutus-01.jpg");
			}

			&--two {
				background-image: $purple-gradient-transparent, url("../img/aboutus-02.jpg");
			}

			&--three {
				background-image: $green-gradient-transparent, url("../img/aboutus-03.jpeg");
			}

			&--four {
				background-image: $blue-gradient-transparent, url("../img/aboutus-04.jpg");
			}

			&--five {
				background-image: $green-gradient-transparent, url("../img/aboutus-05.png");
			}
		}

		&-content {
			grid-row: 2/3;
			padding: 1em;
			background-color: $white;
		}

		&-heading {
			text-align: center;
			margin-bottom: 0.5em;
			color: $main-color-light;
		}

		&--one {
			grid-row: 1/2;
		}

		&--two {
			grid-row: 2/3;
		}

		&--three {
			grid-row: 3/4;
		}

		&--four {
			grid-row: 4/5;
		}

		&--five {
			grid-row: 5/6;
		}
	}
}

// portfolio

.portfolio {
	.carousel {
		margin: 0 1.5em;
	}

	.carousel-caption {
		left: 0;
		right: 0;
		background-color: #0000009c;
	}

	.card-group {
		margin: 0 1.5em;
	}

	.card {
		margin: .5em;
		border-radius: 8px;
		box-shadow: 0 0 10px $shadow;
		background-color: $white;
		overflow: hidden;

		&-body {
			padding: 1em;
			background-color: $white;
		}
		
		&-title {
			text-align: center;
			font-size: 1.8rem;
			color: $main-color-light;
		}
	}
}

// contact

.contact {
	background-image: $blue-gradient-transparent, url("../img/contact-hero-small.jpg");
	background-size: cover;
	background-position: center;

	&__boxes {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 2em;
		margin: 0 1.5em;
		color: $light-white;
	}

	&__box {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		padding: 1em;
		text-align: center;
		border-radius: 8px;
		border: 3px solid $light-white;
		box-shadow: 0 0 10px $shadow;
		background-image: linear-gradient(
			160deg,
			rgba(0, 0, 248, 0.3) 35%,
			rgba(0, 174, 255, 0.3) 90%
		);
		overflow: hidden;

		&--one {
			grid-column: 1/-1;
			grid-row: 1/2;
		}

		&--two {
			grid-column: 1/-1;
			grid-row: 2/3;
		}

		&--three {
			grid-column: 1/-1;
			grid-row: 3/4;
		}

		&-heading {
			grid-row: 1/2;
			font-size: 2.4rem;
		}

		&-text-1 {
			grid-row: 2/3;
		}

		&-text-2 {
			grid-row: 3/4;
		}
	}
}

// footer

.footer {
	padding: 1em;
	text-align: center;
}

// =======================================
// media
// =======================================

@media (min-width: 576px) {
	.services {
		&__boxes {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}

		&__box {
			&--one {
				grid-column: 1/7;
				grid-row: 1/2;
			}

			&--two {
				grid-column: 7/-1;
				grid-row: 1/2;
			}

			&--three {
				grid-column: 4/10;
				grid-row: 2/3;
			}
		}
	}

	.aboutus {
		&__team {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}

		&__member {

			&--one {
				grid-column: 1/7;
				grid-row: 1/2;
			}

			&--two {
				grid-column: 7/-1;
				grid-row: 1/2;
			}

			&--three {
				grid-column: 1/7;
				grid-row: 2/3;
			}

			&--four {
				grid-column: 7/-1;
				grid-row: 2/3;
			}
			
			&--five {
				grid-column: 4/10;
				grid-row: 3/4;
			}
		}
	}
}

@media (min-width: 768px) {
	html {
		scroll-padding-top: 90px;
	}

	.header {
		.hamburger {
			display: none;
		}

		.nav {
			&-mobile {
				display: none;
			}

			&-desktop {
				position: fixed;
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: repeat(3, 30px);
				justify-items: center;
				top: 0;
				left: 0;
				right: 0;
				font-size: 2rem;
				background-color: rgba(0, 0, 0, .5);
				z-index: 100;

				&__link, &__link::before, &__link::after {
					color: $gold;
					transition: all .3s;
				}

				&__link {
					position: relative;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;

					&::before, &::after {
						content: "";
						position: absolute;
						width: 0;
						bottom: 0;
						border-bottom: 2px solid $gold-light;
					}

					&::before {
						left: 50%;
					}

					&::after {
						right: 50%;
					}

					&:hover {
						color: $gold-light;

						&::before, &::after {
							width: 50%;
						}
					}

					&--one {
						grid-column: 2/3;
						grid-row: 2/3;
					}

					&--two {
						grid-column: 3/4;
						grid-row: 2/3;
					}

					&--three {
						grid-column: 4/5;
						grid-row: 2/3;
					}

					&--four {
						grid-column: 5/6;
						grid-row: 2/3;
					}
				}
			}
		}

		.hero-img {
			background-image: $main-gradient-transparent, url("../img/hero-img-big.jpg");

			&__header {
				font-size: 4.8rem;
				margin-bottom: 0.5em;
			}

			&__text {
				font-size: 2.4rem;
			}
		}
	}

	.contact {
		&__boxes {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}

		&__box {

			&--one {
				grid-column: 1/7;
				grid-row: 1/2;
			}

			&--two {
				grid-column: 7/-1;
				grid-row: 1/2;
			}

			&--three {
				grid-column: 4/10;
				grid-row: 2/3;
			}
		}
	}

	.footer {
		padding: 2em 0;
	}
}

@media (min-width: 992px) {
	.services {
		&__boxes {
			grid-template-rows: 1fr;
			margin: 0 2em;
		}

		&__box {
			&--one {
				grid-column: 1/5;
				grid-row: 1/2;
			}

			&--two {
				grid-column: 5/9;
				grid-row: 1/2;
			}

			&--three {
				grid-column: 9/-1;
				grid-row: 1/2;
			}
		}
	}

	.contact {
		&__boxes {
			grid-template-rows: 1fr;
		}

		&__box {

			&--one {
				grid-column: 1/5;
				grid-row: 1/1;
			}

			&--two {
				grid-column: 5/9;
				grid-row: 1/1;
			}

			&--three {
				grid-column: 9/13;
				grid-row: 1/1;
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		.nav {
			&-desktop {
				&__link {
					font-size: 2.4rem;

					&::before, &::after {
						bottom: -.2em;
					}
				}
			}
		}

		.hero-img {
			&__header {
				font-size: 5.8rem;
			}
		}
	}

	.aboutus {
		&__team {
			grid-template-rows: repeat(4, 1fr);
		}

		&__member {
			grid-row: 1/3;

			&--one {
				grid-column: 1/5;
			}

			&--two {
				grid-column: 5/9;
			}

			&--three {
				grid-column: 9/-1;
			}

			&--four {
				grid-column: 3/7;
				grid-row: 3/5;
			}
			
			&--five {
				grid-column: 7/11;
				grid-row: 3/5;
			}
		}
	}
}
